{#{% extends 'base.html' %}#}
{#{% block body %}#}
<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>
<div style="background-color: #f5dd5d; margin-left: 400px; margin-top: 100px; padding: 50px; margin-right: 400px">

<h1 style="text-align: center;">Login</h1>

<form method="POST" action="{% url 'mainpage' %}">
    {% csrf_token %}

    <label for="uname" class="form-label">Username</label>
    <input type="text" id="uname" class="form-control" name="username" required="required">

    <label for="pwd" class="form-label">Password</label>
    <input type="password" id="pwd" class="form-control" name="password" required="required">
    <br>

    <button type="submit" class="btn btn-primary">Login</button>
    <a href="{% url 'register' %}" class="btn btn-warning" style="margin-left: 100px">Go to Register</a>


</form>
</div>
</body>
</html>
{#{% endblock %}#}


